.game_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 0;
    height: 100%;
    margin:0;
    padding: 0;
  }

.body_game {
    overflow: hidden;
    margin:0;
}