.game{
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    min-height: 0;
    max-height: 100vh;
    display: block;
}

.loadingScreen{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    z-index: 1000; /* ゲームのキャンバスより前に表示するため */
}

.nowloading_image {
    width: 100%;
    max-width: 414px;
    height: auto;
    object-fit: cover;
    padding: 0;
    margin: 0;
}